<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>StatFlow</title>

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- Bootstrap CSS CRN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Bootstrap style template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Statflow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/HistoricData">Historic Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/temp">Current City Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fiveday">five day</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/map">Interactive Map</a>
            </li>         
          </ul>
        </div>
    </nav>
        <main role="main" class="container">

            <div id="container" style="width:80%; height:400px;"></div>
          
        </main>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script>
        $(function () { 
          Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: ' 2017 Monthly Average Rainfall'
            },
            subtitle: {
                text: 'Source: Statflow'
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Rainfall (mm)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: 
            [
            {
              data: [
              53.3,
              74.9,
              106.3,
              28.6,
              63.2,
              104.2,
              127.8,
              124.6,
              145.2,
              107.3,
              102.6,
              107.3
               ]
            }
        ]
        });
      });
    </script>
<div>
<iframe align="center" width="2000" height="1000" frameborder="0" scrolling="no" src="//plot.ly/~heanuea/10.embed"></iframe>
</div>
  </body>
</html>
