<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="leaflet-openweathermap.css" />
	<script type="text/javascript" src="leaflet-openweathermap.js"></script>
    <title>StatFlow</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CRN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Bootstrap style template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
  <body>
 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if 'username' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/HistoricData">Historic Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/temp">Current City Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fiveday">five day</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/map">Interactive Map</a>
          </li>
          {% endif %}
        </div>
          <a class="navbar-brand" href="/">StatFlow</a>
          <div class="navbar-collapse collapse">
            <!-- Using jinja here to hide the logout link when user has logged out -->
              <ul class="navbar-nav ml-auto">
                <!-- If username is active in the session then display the logout link otherwise blank.. -->
                {% if 'username' in session %}
                    <li class="nav-item"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
              {% endif %}
              </ul>
              
          </div>
    </nav>
  
      <main role="main" class="container">
        <!-- Using flash messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible margin-buffer" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></span>&times;</button>
                {{message}}
              </div>
            {% endfor%}
          {% endif%}
        {% endwith %}

        {% block body %}{% endblock %}
  
      </main><!-- /.container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
