<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="leaflet-openweathermap.css" />
	<script type="text/javascript" src="leaflet-openweathermap.js"></script>
    <title>StatFlow</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CRN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Bootstrap style template -->
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
  <body>
 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="navbar-brand" href="/">StatFlow</a>
          </li>
            {% if 'username' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/HistoricData">Historic Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/temp">Current City Weather</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fiveday">five day</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="/map">Interactive Map</a>
          </li>
          {% endif %}
        </div>
         
          <div class="navbar-collapse collapse">
            <!-- Using jinja here to hide the logout link when user has logged out -->
              <ul class="navbar-nav ml-auto">
                <!-- If username is active in the session then display the logout link otherwise blank.. -->
                {% if 'username' in session %}
                    <li class="nav-item"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
              {% endif %}
              </ul>
              
          </div>
    </nav>
  
      <main role="main" class="container">
       
        <!-- Using flash messages -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible margin-buffer" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></span>&times;</button>
                {{message}}
              </div>
            {% endfor%}
          {% endif%}
        {% endwith %}

        {% block body %}
        <div class="box">
        <h1 align="middle"> Galway Live weather feed Camera</h1>
        <iframe src="https://thecladdagh.com/camera3.php?autostart=true" 
                id="camera1" 
                frameborder="0" 
                scrolling="no" 
                width="50%" 
                height="512"
                allowfullscreen="" 
                align="left"> 
        </iframe> 
        <iframe src="https://thecladdagh.com/camera4.php?autostart=true"
                id="camera2" 
                frameborder="0" 
                scrolling="no" 
                width="50%" 
                height="512"
                allowfullscreen=""                
                align="right">
        </iframe>
        <h2> Kerry Live weather feed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; London Live weather feed</h2> 
        <iframe src="https://www.youtube.com/embed/live_stream?channel=UCeLRJz-DXgTdOdRA68HNv8g&amp;autoplay=1"
                width="50%" 
                height="512"
                frameborder="2"
                scrolling="no"
                align="left"
                allowfullscreen="true">
        </iframe>
        <iframe src="https://www.youtube.com/embed/UrhCtz9iFJ0?autoplay=1" 
                width="50%" 
                height="512" 
                frameborder="2"
                align="right"
                allowfullscreen="true">
        </iframe>
<h2> Venice Live weather feed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Boston Live weather feed</h2> 
        <iframe width="50%" 
                height="512" 
                src="https://www.youtube.com/embed/AujZrQr3Ih4?autoplay=1" 
                frameborder="2"
                align="right" 
                allow="autoplay; encrypted-media" 
                allowfullscreen>
       </iframe> 
       <iframe width="50%" 
                height="512" 
                src="https://www.youtube.com/embed/vPbQcM4k1Ys?autoplay=1" 
                frameborder="2"
                align="right"    
                allow="autoplay; encrypted-media" 
                allowfullscreen = "true" >
        </iframe>
        <br><br>
        </div>
        <div class="box">       
        <a class="twitter-timeline" 
           align="left" 
           width="50%" 
           height="512"
           href="https://twitter.com/OpenWeatherMap?ref_src=twsrc%5Etfw">Tweets by OpenWeatherMap
               
            <a class="twitter-timeline" 
            align="right" 
            width="50%" 
            height="512"
            href="https://twitter.com/MetEireann?ref_src=twsrc%5Etfw">Tweets by MetEireann
           </a>
        </a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {% endblock %}
  
      </main><!-- /.container -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
