<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>STATFLOW - Interactive Map </title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/templatemo_misc.css" rel="stylesheet">
	<link href="static/css/templatemo_style.css" rel="stylesheet">

	<script src="static/js/jquery-1.11.1.min.js"></script> 
	<script src="static/js/jquery.lightbox.js"></script>
	<script src="static/js/templatemo_custom.js"></script> 
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin="">
    </script>    
    <link href="static/css/leaflet-openweathermap.css" rel="stylesheet">
    <script src="static/js/leaflet-openweathermap.js"></script> 

       
<style>
    html, body{
      width: 100%;
      height: 100%;
    }
    #map-canvas {
      width: 162%;
      height: 70%;
      position: relative;
        top: 350px;     
        right: 275px;
    }
    .gm-style-iw {
      text-align: center;
    }
  </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1VpfA-5yLWizryyrBhv2bAKeclik_JRs"></script>
    
<script>
  var map;
  var geoJSON;
  var request;
  var gettingData = false;
  var openWeatherMapKey = "57b8dba81b17f308646a6cd7f37a03ad";
  function initialize() {
   
 
   var mapOptions = {
      zoom: 6,
      center: new google.maps.LatLng(53.5,-8)
      
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions  );
    // Add interaction listeners to make weather requests
    google.maps.event.addListener(map, 'idle', checkIfDataRequested);
    // Sets up and populates the info window with details
    map.data.addListener('click', function(event) {
      infowindow.setContent( 
       "<p style='color:black;>'<img src=" + event.feature.getProperty("icon") + ">"
       + "<br /><strong>" + event.feature.getProperty("city") + "</strong>"
       + "<br /> Current Air Temperature :" + event.feature.getProperty("temperature") + "&deg;C "
       + "<br /> Current Weather :" + event.feature.getProperty("weather")
       + "<br /> Current Wind Speed :" + event.feature.getProperty("windSpeed") + " m/s"
       + "<br /> Current Air Pressure :" + event.feature.getProperty("pressure") + " hPa"
       + "<br /> Current Min Temp :" + event.feature.getProperty("min") + "&deg;C"
       + "<br /> Current Max Temp :" + event.feature.getProperty("max") + "&deg;C </p>"
       );
      infowindow.setOptions({
          position:{
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
          },
          pixelOffset: {
            width: 0,
            height: -15
          }
        });
      infowindow.open(map);
    });
  }
  var checkIfDataRequested = function() {
    // Stop extra requests being sent
    while (gettingData === true) {
      request.abort();
      gettingData = false;
    }
    getCoords();
  };
  // Get the coordinates from the Map bounds
  var getCoords = function() {
    var bounds = map.getBounds();
    var NE = bounds.getNorthEast();
    var SW = bounds.getSouthWest();
    getWeather(NE.lat(), NE.lng(), SW.lat(), SW.lng());
  };
  // Make the weather request
  var getWeather = function(northLat, eastLng, southLat, westLng) {
    gettingData = true;
    var requestString = "http://api.openweathermap.org/data/2.5/box/city?bbox="
                        + westLng + "," + northLat + "," //left top
                        + eastLng + "," + southLat + "," //right bottom
                        + map.getZoom()
                        + "&cluster=yes&format=json"
                        + "&APPID=" + openWeatherMapKey;
    request = new XMLHttpRequest();
    request.onload = proccessResults;
    request.open("get", requestString, true);
    request.send();
  };
  // Take the JSON results and proccess them
  var proccessResults = function() {
    console.log(this);
    var results = JSON.parse(this.responseText);
    if (results.list.length > 0) {
        resetData();
        for (var i = 0; i < results.list.length; i++) {
          geoJSON.features.push(jsonToGeoJson(results.list[i]));
        }
        drawIcons(geoJSON);
    }
  };
  var infowindow = new google.maps.InfoWindow();
  // For each result that comes back, convert the data to geoJSON
  var jsonToGeoJson = function (weatherItem) {
    var feature = {
      type: "Feature",
      properties: {
        city: weatherItem.name,
        weather: weatherItem.weather[0].main,
        temperature: weatherItem.main.temp,
        min: weatherItem.main.temp_min,
        max: weatherItem.main.temp_max,
        humidity: weatherItem.main.humidity,
        pressure: weatherItem.main.pressure,
        windSpeed: weatherItem.wind.speed,
        windDegrees: weatherItem.wind.deg,
        windGust: weatherItem.wind.gust,
        icon: "http://openweathermap.org/img/w/"
              + weatherItem.weather[0].icon  + ".png",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      },
      geometry: {
        type: "Point",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      }
    };
    // Set the custom marker icon
    map.data.setStyle(function(feature) {
      return {
        icon: {
          url: feature.getProperty('icon'),
          anchor: new google.maps.Point(25, 25)
        }
      };
    });
    // returns object
    return feature;
  };
  // Add the markers to the map
  var drawIcons = function (weather) {
     map.data.addGeoJson(geoJSON);
     // Set the flag to finished
     gettingData = false;
  };
  // Clear data layer and geoJSON
  var resetData = function () {
    geoJSON = {
      type: "FeatureCollection",
      features: []
    };
    map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
   <div class="container">
    <div class="menu">
			<div class="hexagon_container" id="logo">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/">
							<div class="hexagon-in2">
								<h2>HOME</h2>             	 	
							</div>
						</a>
					</div>
				</div>					
			</div>
			<div class="hexagon_container" id="team">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/team">
							<div class="hexagon-in2">
								<i class="fa fa-user"></i>
								<h2>OUR TEAM</h2>             	 	
							</div>
						</a>
					</div>
				</div>				
			</div>
            
			<div class="hexagon_container" id="services">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2 active">
                        <a href="/services">
							<i class="fa fa-cogs"></i>
							<h2>BACK TO SERVICES</h2>             	 	
						</div>
					</div>
				</div>
			</div>		
			<div class="hexagon_container" id="contact">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/contact">
							<div class="hexagon-in2">
								<i class="fa fa-envelope"></i>
								<h2>CONTACT</h2>             	 	
							</div>
						</a>
					</div>
				</div>						
			</div>		
        </div>
    <div id="map-canvas"></div>
    </div>
    <div class="templatemo_footer">
    	Copyright © 2084 Company Name<br>
		Photos by <a rel="nofollow" href="http://unsplash.com">Unsplash</a>
    </div>
</body>
</html>
