<!DOCTYPE html>
<head>
	<title>StatFlow-Team</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <meta name="author" content="">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="500x500" href="static/images/favicon-192x192.png">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="static/css/templatemo_misc.css" rel="stylesheet">
	<link href="static/css/templatemo_style.css" rel="stylesheet">

	<script src="static/js/jquery-1.11.1.min.js"></script> 
	<script src="static/js/jquery.lightbox.js"></script>
	<script src="static/js/templatemo_custom.js"></script>
</head>
<body>
	<div class="container">
		<div class="menu">
			<div class="hexagon_container" id="logo">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/">
							<div class="hexagon-in2">
								<h2>HOME</h2>             	 	
							</div>
						</a>
					</div>
				</div>					
			</div>
			<div class="hexagon_container" id="team">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<div class="hexagon-in2 active">
							<i class="fa fa-user"></i>
							<h2>OUR TEAM</h2>             	 	
						</div>
					</div>
				</div>				
			</div>
			<div class="hexagon_container" id="services">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/services">
							<div class="hexagon-in2">
								<i class="fa fa-cogs"></i>
								<h2>SERVICES</h2>             	 	
							</div>
						</a>
					</div>
				</div>
			</div>		
			<div class="hexagon_container" id="contact">
				<div class="hexagon hexagon2">
					<div class="hexagon-in1">
						<a href="/contact">
							<div class="hexagon-in2">
								<i class="fa fa-envelope"></i>
								<h2>CONTACT</h2>             	 	
							</div>
						</a>
					</div>
				</div>						
			</div>
		</div>
		<div id="team-content">
			<header>
				<h1>Meet our team</h1>
			</header>
			<div class="content team" id="page1">
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/GT.jpeg);">
								<div class="overlay">
									<p><font size="3" color="white" >Garret Tonra<br>4th Year<br>Software<br>Developer</font></p>
									
								</div>      	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/AH.jpeg);">
								<div class="overlay">
									<p><font size="3" color="white" >Alan Heanue<br>4th Year<br>Software<br>Developer</font></p>
								</div>         	 	
							</div>
						</div>
					</div>
				</div>
				<div class="hexagon_container">
					<div class="hexagon hexagon2 team-item">
						<div class="hexagon-in1">
							<div class="hexagon-in2" style="background-image:url(static/images/team/IB.jpeg);">
								<div class="overlay">
									<p><font size="3" color="white" >Ian Burke<br>4th Year<br>Software<br>Developer</font></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-description">
					<p>Meet The Statflow Team. We are a Group of fourth Year Software developers From the Galway-Mayo Institute of Technology that Collaberated together for our Final Year Project.</p>	
				</div>			
			</div>			
			
		</div>
	</div>
    <div class="templatemo_footer">
    	Copyright © 2018 STATFLOW
    </div>
</body>
</html>
